.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.furtherback {
  min-height:100vh;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.backgrounddiv {
  width: 100%;
  padding-top:10em;
  
  margin: 0 auto;
}


.mapped {
  background-color: rgba(255,255,255,0.85);
  max-height:auto;
  max-width: 100%;
  margin:0 auto;
  margin-top: 3em;
  padding: 1em;
  text-align: center;
}
.mappedBack {
  max-width: 300px;
  margin: 0 auto;
}

.imp{
  max-height:100px;
  height: 3em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.impform {
  width: 20em;
  height: 2em;
  margin: 0 auto;

}
.singleMap {
  padding: 0.1em;
  margin: 0.25em;
  background: none;
  background-color: none;
  border-color: rgba(0, 0, 0, 0.2);
  border: 1px dotted;
  font-size: 1.04em;
  font-family: "Courier New", Courier, monospace;
}

.singleMap:hover {
  background-color: #ff69b4;
  color: #FFFFFF;
  cursor: pointer;
}
.singleMap:active {
  background-color: #ff69b4;
  color: #FFFFFF;
  cursor: pointer;
}
.impdiv {
  margin: 0 auto;
}
ul {
  list-style-type: none
}

div, p, input {
  font-family: "Courier New", Courier, monospace;
}

.pic-button-div {
  float: left;
  padding-left:0px;
  margin-left: 0px;
  max-height: auto;

}
.rndm-div {
  height: auto;
  width: auto;

}

.inner-image {
  position: absolute;
  margin: 0;
}
.inner-image-2 {
  margin-top: 110px;
}
.inner-image-3 {
  margin-top: 220px;
}
.inner-image-4 {
  margin-top: 330px;
}
.inner-image-5 {
  margin-top: 440px;
}
.pre-log {
  max-width: 29vh;
  margin: 0 auto;
  padding: 0 auto;
}

.logo-container {
  float:center;
  margin-top: 3em;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
  width:auto;
}

img.logo-img {
  width: 3em;

}

img.logo-img2 {
  width: 2.35em;
  padding-bottom:3px;
  padding-left: 6px;

}

.rss-log {
  float:right;
  margin-top:0px;
}