.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.furtherback {
  min-height:100vh;
  background-image: url("./imgs/img3.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.backgrounddiv {
  width: 100%;
  padding-top:10em;
  
  margin: 0 auto;
  padding: 0 auto;
}


.mapped {
  padding: auto;
  background-color: rgba(255,255,255,0.35);
  max-height:200px;
  width:10em;
  margin:0 auto;
}
.imp{
  max-height:100px;
  height: 3em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.impform {
  width: 20em;
  height: 2em;
  margin: 0 auto;

}